In [3]:
import numpy as np
import pandas as pd

In [4]:
data_dict = {
    "name": ["David", "Tim", "Alice"],
    "age": [19, 23, 22]
}

In [5]:
pandas_df = pd.DataFrame(data_dict)

In [6]:
pandas_df

    name  age
0  David   19
1    Tim   23
2  Alice   22